body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:black;
  color: skyblue;
  padding: 40px;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-size-adjust: calc(none);
}

h1 {
  text-align: center;
  color: #2c3e50;
}

input[type="text"] {
  width: 100%;
  padding: 12px 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border 0.3s ease;
}

input[type="text"]:focus {
  border-color: #3498db;
  outline: none;
  background-color: yellow;
  text-align: center;
}

button {
  background-color: #3498db;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition:  0.3s ease;
  background-color: #27ae60;
}

button:hover {
  background-color: #2980b9;
}

#result {
  margin-top: 24px;
  font-size: 20px;
  font-weight: bold;
  color: #27ae60;
  text-align: center;
}
